body {
  padding: 100px;
}

.border-radius {
  @include border-radius(10px);
}

.border-radius2 {
  border-radius: 4px;
}

.gradient {
  @include background-image(linear-gradient(to right, #fff, #000));
}

.gradient2 {
  background-image: linear-gradient(to right, #ffffff, #000000);
}
